* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Comfortaa', serif;
  background-color: #ebf2ff;
}

/*----Navbar Styling-----------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 6px 8px -5px #808080;
}

.navbar_brand {
  width: 100px;
  border-radius: 50%;
}

.navbar_logo {
  width: 100%;
  border-radius: 50%;
}

.nav_button {
  background: transparent;
  border: 2px solid transparent;
  color: #1d3557;
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  cursor: pointer;
}
.nav_button:focus,
.nav_button:hover {
  border: 2px solid #1d3557;
  border-radius: 8px;
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.section4_form {
  max-width: 1000px;
  background: #fff;
  width: 1000px;
  height: 450px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.section4_form .form_title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section4_form form {
  padding: 30px 0 0 0;
}

.section4_form form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 55px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.form_button {
  height: 45px;
  width: 135px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #56d8e4,
    #9f01ea
  );
  color: #ffffff;
  background-size: 200%;
  background-position: left;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.form_button:hover {
  background-position: right;
}

/*----Footer styling-----------------------------------------------*/
.footer {
  background-image: linear-gradient(
    to right,
    #ff512f,
    #dd2476,
    #ff512f
    );
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 4px 14px -2px #808080;
}

.footer_logo {
  width: 50%;
  background-color: #ebf2ff;
}

.footer_text_div {
  width: 40%;
  font-size: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
  }

  .footer {
    justify-content: space-around;
  }

  .footer_text_div {
    font-size: 24px;
    width: auto;
  }

  .footer_logo {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0.25rem 4rem;
  }

  .footer_logo {
    width: 10%;
  }
}
