* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: white;
}

/*----Navbar Styling-----------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 6px 8px -5px #808080;
}

.navbar_brand {
  width: 100px;
  border-radius: 50%;
}

.navbar_logo {
  width: 100%;
  border-radius: 50%;
}

.nav_button {
  background: transparent;
  border: 2px solid transparent;
  color: #1d3557;
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  cursor: pointer;
}
.nav_button:focus,
.nav_button:hover {
  border: 2px solid #1d3557;
  border-radius: 8px;
}

main {
  margin: 2rem 4rem;
  font-size: 16px;
}

.container {
  background-color: #ebf2ff;
  color: #1d3557;
  padding: 1rem 2rem;
  border: 1px solid #1d3557;
  border-radius: 8px;
}
.form_container {
  text-align: left;
  padding: 1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0.25rem 0 0.75rem;
}

fieldset {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 1rem;

}

.main-text {
  text-align: center;
}

input[type="submit"] {
  display: flex;
  background-color: #4daea1;
  color: white;
  font-size: 20px;
  padding: 10px 0;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

input[type="submit"]:hover{
  background-color: #4caf84;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/*----Footer styling-----------------------------------------------*/
.footer {
  background-image: linear-gradient(
    to right,
    #ff512f,
    #dd2476,
    #ff512f
    );
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 4px 14px -2px #808080;
  margin-top: 30px;
}

.footer_logo {
  width: 50%;
  background-color: #ebf2ff;
}

.footer_text_div {
  width: 40%;
  font-size: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
  }

  .footer {
    margin-top: 50px;
    justify-content: space-around;
  }

  .footer_text_div {
    font-size: 24px;
    width: auto;
  }

  .footer_logo {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0.25rem 4rem;
  }

  .footer_logo {
    width: 10%;
  }
}
