* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

/*----Navbar Styling-----------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 6px 8px -5px #808080;
}

.navbar_brand {
  width: 100px;
  border-radius: 50%;
}

.navbar_logo {
  width: 100%;
  border-radius: 50%;
}

.nav_button {
  background: transparent;
  border: 2px solid transparent;
  color: #1d3557;
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  cursor: pointer;
}
.nav_button:focus,
.nav_button:hover {
  border: 2px solid #1d3557;
  border-radius: 8px;
}

/*----Menu Styling-----------------------------------------------*/
.menu_container {
  margin: 2rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: 75%;
  gap: 1em;
  justify-content: center;
}
.menu_image {
  width: 100%;
}

/*----Footer styling-----------------------------------------------*/
.footer {
  background-image: linear-gradient(
    to right,
    #ff512f,
    #dd2476,
    #ff512f
    );
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 4px 14px -2px #808080;
  margin-top: 30px;
}

.footer_logo {
  width: 50%;
  background-color: #ebf2ff;
}

.footer_text_div {
  width: 40%;
  font-size: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
  }

  .menu_container {
    grid-template-columns: 42% 42%;
  }

  .footer {
    margin-top: 50px;
    justify-content: space-around;
  }

  .footer_text_div {
    font-size: 24px;
    width: auto;
  }

  .footer_logo {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0.25rem 4rem;
  }

  .footer_logo {
    width: 10%;
  }
}
